body{
    height:100%;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

form{
    width:100%;
    max-width: 300px;
    margin:auto;
    padding:10px;
}

form.form-control{
    box-sizing:border-box;
}