<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a href="/home" class="navbar-item">
      <img src="/assets/timetrack_logo.png" alt="timetrack logo">
    </a>

  </div>
  <div class="navbar-end">
    <div class="navbar-item has-dropdown">
      <div class="navbar-link" (click)="onClick($event)">Minh Tran</div>
    </div>
    <div class="navbar-dropdown">
      <a href="" class="navbar-item">
        <div>
          <span class="icon is-small">
            <i class="fa fa-user-circle-o"></i>
          </span>
        </div>
      </a>
      <a href="" class="navbar-item">
        <div>
          <span class="icon is-small">
            <i class="fa fa-sign-out"></i>
          </span>
          Sign Out
        </div>
      </a>
    </div>
  </div>
</nav>
